<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS Grid Intro</title>
    <link rel="stylesheet" href="/CSS/Basics/Layout/layout-01/style-01.css" />
  </head>
  <body>
    <div class="container-01">
      <span class="container-01-item">item 1</span>
      <span class="container-01-item">item 2</span>
      <span class="container-01-item">item 3</span>
      <span class="container-01-item">item 4</span>
      <span class="container-01-item">item 5</span>
      <span class="container-01-item">item 6</span>
    </div>

    <hr />

    <div class="container-02">
      <div class="container-02-item">item 1</div>
      <div class="container-02-item">item 2</div>
      <div class="container-02-item">item 3</div>
      <div class="container-02-item">item 4</div>
      <div class="container-02-item">item 5</div>
      <div class="container-02-item">item 6</div>
    </div>
  </body>
</html>
